@import "external-file.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,100&family=Just+Another+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,100&display=swap');


* {
	/*font-family: 'Exo 2', sans-serif;*/
}

.divClass{
	background-color: mediumpurple;
}

#insideDIV {
	background-color: cornflowerblue;
	padding: 0;
	margin: 10px    ;

}
